* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f8e6c1;
    color: #4a2e19;
}

/* HEADER */
header {
    background: #d9a875;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Cookie', cursive;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #4a2e19;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    background: url('img/galletas.jpg') center/cover;
    color: white;
    text-shadow: 2px 2px 4px #000;
}

/* PRODUCTOS */
.productos {
    padding: 40px;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* NOSOTROS */
.nosotros, .contacto {
    padding: 40px;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #d9a875;
    margin-top: 40px;
}
